@charset "utf-8";

@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/* CSS Document */

body {
    background-color: #101010;
	font-size: 100%;
    font-family: "Roboto", Helvetica, sans-serif;
}

#navigation {
    text-align: left;
    margin-top: 20px;
}

#content {
    text-align: center;
    
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 100px;
}

h1 {
    color: #ccc;
    margin-bottom: 30px;
}

h3 {
    margin-top: 40px;
    color: #555;
}

ul {
    color: #ccc;
}

p {
    color: #aaa;
    line-height: 1.25;
    text-align: left;
}

a {
    color: white;
    line-height: 1.5;
}

a:hover {
    border-bottom-color: transparent;
    color: #4ea3ff;
}